@import url(https://fonts.googleapis.com/css?family=Mr+Dafoe);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:900);
@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url(https://fonts.googleapis.com/css?family=Candal);

@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

@import url(https://fonts.googleapis.com/css?family=Monoton);

.chrome {
    position: relative;
    background-image: -webkit-linear-gradient(#378DBC 0%, #B6E8F1 46%, #ffffff 50%, #32120E 54%, #FFC488 58%, #582C11 90%, #EC9B4E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 4px #f5f5f5;
    font-size: 200px;
    font-family: 'Titillium Web', sans-serif;
    font-style: italic;
    margin: 0;
    line-height: 1;
  }
  
  .chrome:before {
    content: 'CHROME';
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    background-image: -webkit-linear-gradient(-40deg, transparent 0%, transparent 40%, #fff 50%, transparent 60%, transparent 100%);
    background-position:-680px 0;
    -webkit-background-clip: text;
    -webkit-text-stroke: 0;
    padding-right: 300px;
    -webkit-animation-name: chrome_effect;
    -webkit-animation-duration: 6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
  }
  
  .dreams {
    position: absolute;
    margin: 0px;
    font-family: 'Mr Dafoe', cursive;
    font-size: 100px;
    color: #F975F7 ;
    transform:rotate(-15deg);
    -ms-transform:rotate(-15deg); /* IE 9 */
    -webkit-transform:rotate(-15deg); /* Safari and Chrome */
    margin-left: 400px;
    margin-top: 35px;
    -webkit-text-stroke: 1px #f008b7;
    -webkit-filter: drop-shadow(2px 2px 20px #f008b7);
    z-index: 20;
  }
  
.windows .dreams {
    -webkit-text-stroke: 4px #f008b7;
  }

#description{
    width:100%;
    text-align: center;
    color: purple;
    font-size: 30px;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}



html{
    background-image: url("https://images.wallpaperscraft.com/image/stars_space_galaxy_117958_800x600.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center; 
    height:100%;
    width:100%
}
h1{ 
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: white;
    font-size: 4em;
    text-rendering: optimizeLegibility;
}
h3{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: white;
    font-size: 1em;
    text-rendering: optimizeLegibility;
}
p{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: white;
    font-size: 1em;
    text-rendering: optimizeLegibility; 
}
img{
    position: relative;
    bottom: 101%;
    z-index: 2;
}


.flexRow{
    display: -webkit-flex;
    display: flex;
    justify-content:center;
    -webkit-justify-content: center;
    width: 100%;
}
.statsLeft{
    padding-right: 5em;
    border: 1px solid white;
    text-align: center;
    padding: 0px 10px 0px 10px;
}
.statsRight{
  padding-right: 5em;
  border: 1px solid white;
  text-align: center;
  padding: 0px 10px 0px 10px;
}

#canvasBox{
    width: 720px;
    height: 420px;
}
#testCanvas{
    background-color: white;
    opacity: 0.2;
}
.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: rgba(240, 248, 255, 0.899);
    background-color: magenta;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px purple;
    position: relative;
    left: 46%;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
  }
.button:hover {background-color: pink}
  
.button:active {
    background-color: pink;
    box-shadow: 0 5px purple;
    transform: translateY(4px);
}

#gameUpdates{
    color: purple;
    font-size: 100px;
    text-align: center;
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }